<!--Menu esquerdo-->
<ion-menu [content]="content" side="left">
  <ion-header>
    <ion-toolbar color="easy-tour-bar">
      <ion-title>Easy-Tour</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="cor-nav-bar">
    <ion-list>
      <button ion-item class="cor-nav-bar" color="easy-tour-bar">
        Parceiros
      </button>
      <button ion-item class="cor-nav-bar" color="easy-tour-bar">
        Quanto Custa?
      </button>
      <button ion-item class="cor-nav-bar" color="easy-tour-bar">
        Ajuda
      </button>
      <button ion-item class="cor-nav-bar" color="easy-tour-bar">
        Configurações
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!--Menu direito-->
<ion-menu [content]="content" side="right">
  <ion-header>
    <ion-toolbar color="easy-tour-bar">
      <ion-title>Roteiros Easy-Tour</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <ion-content class="cor-nav-bar">

    <ion-list> 
      <button *ngFor="let categoria of categorias" ion-item class="cor-nav-bar" color="easy-tour-bar" (click)="escolherRoteiroDeUmaCategoria(categoria)">        
        {{categoria.nome}}
      </button>      
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav #content swipeBackEnabled="false"></ion-nav>

<ion-header>
  <ion-navbar color="easy-tour-bar">      

    <ion-grid>
      <ion-row>
        <!--<ion-col col-2 align-self-center><img src="imagem/icone-sol-e-mar.png"/></ion-col>-->
        <ion-col col-8 align-self-center><ion-title text-center color="easy-tour-bar-font">{{nomeCategoria}}</ion-title></ion-col>                
        <ion-col col-2 align-self-center>
           <button class="cor-nav-bar" (click)="tracarRotaEntrePontosDoRoteiro()" ion-button>
              <ion-icon color="primary" name="play"></ion-icon>
           </button>          
          <!--<img src="imagem/icone-play.png" />-->
        </ion-col>
        <ion-col col-2 align-self-center>
          <button class="cor-nav-bar" ion-button (click)="toggleLeftMenu()">
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-col>
      </ion-row>      
    </ion-grid>

  </ion-navbar>
</ion-header>

<ion-content>
  <!--<h3>Easy Tour</h3>-->
  <div #map id="map"></div> 
  <!--<ion-list>    
        <ion-item *ngFor="let categoria of categorias">
            <p>teste {{categoria.nome}}</p>
        </ion-item>
    </ion-list>-->

</ion-content>

<ion-footer>
    <ion-toolbar color="easy-tour-bar">            
      <ion-grid>
        <ion-row>
          <ion-col col-2 align-self-center><img src="imagem/icone-marcador.png"/></ion-col>
          <ion-col col-8 align-self-center><ion-title text-center color="easy-tour-bar-font">Selecionar Roteiro</ion-title></ion-col>
          <ion-col col-2 align-self-center>
            <button class="cor-nav-bar" ion-button (click)="toggleRightMenu()">
              <ion-icon name="menu"></ion-icon>
            </button>
          </ion-col>
        </ion-row>      
      </ion-grid>
      
    </ion-toolbar>
</ion-footer>