page-home {
    .cor-nav-bar{
        background-color: #5b8002;
    }    

    .espacamento-top {
        padding-top: 5%;
    }    

    .espacamento-down {
        padding-bottom: 10%;
    }    

    .button-play{
        background-color: white;
    }

}

.ios, .md {
 
    page-home {
 
      .scroll {
        height: 100%
      }
 
      #map {
        width: 100%;
        height: 100%;
      }
 
    }
 
}
