page-home {
    .cor-nav-bar{
        background-color: #577a00;
    }    

    .espacamento-top {
        padding-top: 5%;
    }    

    .espacamento-down {
        padding-bottom: 10%;
    }    
}
