// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.cor-nav-bar{
    background-color: #577a00;
}

.background-transparente {
    background: transparent !important;
}

.conteudo {
        background-image: url('../assets/bg-principal.png'); 
        width: 100%;
        //height: auto;
        background-repeat: no-repeat;
        background-size: 100% 100%;        
}

$SIDEMENU_TOP: #577a00;
$SIDEMENU_BOTTOM: #7a9f1f;
$SIDEMENU_TRANSPARENCY: rgba(255,255,255,0.4);

.toolbar-background-md {
    background: -webkit-gradient(left top, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: -o-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: -moz-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: linear-gradient(to bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background-repeat: repeat-x;
}

.toolbar-background-ios{
    background: -webkit-gradient(left top, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: -o-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: -moz-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: linear-gradient(to bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background-repeat: repeat-x;
}

.toolbar-title-md{
    color: white;
}

.close-icon-size {
    font-size: 1.5em;
}